<footer class='bg-dark'>
    <div class="container border-bottom border-secondary border-opacity-50">
        <div class="row pt-5 pb-5">
            <div class="col-6 col-md-3 pt-3">
                <i class="bi bi-geo-alt footer-icon"><span class='footer-font-bold'>&#160 Address</span></i>
                <p class='footer-font pt-2'>
                1264 Kha Van Can Street<br>Ho Chi Minh, Viet Nam
                </p>
            </div>

            <div class="col-6 col-md-3 pt-3">
                <i class="bi bi-telephone footer-icon"><span class='footer-font-bold'>&#160 Reservations</span></i>
                <p class='footer-font pt-2'>
                    <strong>Phone:</strong> +84 0337839146<br/>
                    <strong>Email:</strong> sunrisefoods@gmail.com
                </p>
            </div>

            <div class="col-6 col-md-3 pt-3">
                <i class="bi bi-clock footer-icon"><span class='footer-font-bold'>&#160 Opening Hours</span></i>
                <p class='footer-font pt-2'>
                <strong>Open 24/24</strong> from
                Monday to Sunday
                </p>
            </div>

            <div class="col-6 col-md-3 pt-3 ps-4">
                <h4 class='footer-font-bold'>Follow Us</h4>
                <div class="d-flex">
                    <a href="#" class="erase-underline"><i class="bi bi-twitter footer-social-icon"></i></a>
                    <a href="#" class="erase-underline"><i class="bi bi-facebook footer-social-icon"></i></a>
                    <a href="#" class="erase-underline"><i class="bi bi-instagram footer-social-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="footer-font text-center">
            &copy; Copyright <strong><span>Sunrise</span></strong>. All Rights Reserved
        </div>
        <div class="footer-font text-center">
            Designed by <a href="#" class="footer-link">Sunrise Company</a>
        </div>
    </div>
</footer>