<footer class='bg-dark mt-4'>
    <div class="container border-bottom border-secondary border-opacity-50">
        <div class="row pt-5 pb-5">
            <div class="col-3 d-flex">
                <i class="bi bi-geo-alt footer-icon"></i>
                <div>
                    <h4 class='footer-font-bold'>Address</h4>
                    <p class='footer-font'>
                    1264 Kha Van Can Street <br/>
                    Ho Chi Minh, Viet Nam<br/>
                    </p>
                </div>
            </div>

            <div class="col-3 d-flex">
                <i class="bi bi-telephone footer-icon"></i>
                <div>
                    <h4 class='footer-font-bold'>Reservations</h4>
                    <p class='footer-font'>
                        <strong>Phone:</strong> +84 0337839146<br/>
                        <strong>Email:</strong> phucdat4102@gmail.com<br/>
                    </p>
                </div>
            </div>

            <div class="col-3 d-flex">
                <i class="bi bi-clock footer-icon"></i>
                <div>
                    <h4 class='footer-font-bold'>Opening Hours</h4>
                    <p class='footer-font'>
                    <strong>Open 24/24</strong> from<br/>
                    Monday to Sunday
                    </p>
                </div>
            </div>

            <div class="col-3 ps-4">
                <h4 class='footer-font-bold'>Follow Us</h4>
                <div class="d-flex">
                    <a href="#" class="erase-underline"><i class="bi bi-twitter footer-social-icon"></i></a>
                    <a href="#" class="erase-underline"><i class="bi bi-facebook footer-social-icon"></i></a>
                    <a href="#" class="erase-underline"><i class="bi bi-instagram footer-social-icon"></i></a>
                    <a href="#" class="erase-underline"><i class="bi bi-linkedin footer-social-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="footer-font text-center">
            &copy; Copyright <strong><span>Sunrise</span></strong>. All Rights Reserved
        </div>
        <div class="footer-font text-center">
            Designed by <a href="#" class="footer-link">Sunrise Company</a>
        </div>
    </div>
</footer>