<div className="navbar navbar-expand-lg p-0 bg-white">
    <div className='container pt-4'>
        <div className='row w-100 m-0'>
            <div className="collapse navbar-collapse">
                <div className="col-3">
                    <a className="navbar-brand pb-0" href="#">
                        <figure className="figure mb-0">
                            <img src="../../../public/images/logo.png" className="figure-img img-fluid rounded" alt="SF logo" id='logo'/>
                        </figure>
                    </a>
                </div>
                <div className="col-8">
                    {{!-- <Searchbox/>
                    <HorizontalMenu items={menu_items}/> --}}
                </div>
                <div className="col d-flex justify-content-end pb-4 mb-3">
                    {{!-- <Cart cartLink/> --}}
                </div>
            </div>
        </div>
    </div>
</div>