
<div class="container pt-5">
    <div class="row">
        <div class="col-8">
            <div class="bg-white">
                <div class="p-4 pt-3">
                    <p class="itdetail-lg-title">Để đặt hàng, vui lòng điền thông tin dưới đây.</p>
                    <div class="row pt-3">   
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Họ và tên">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="pt-3">
                        <input type="text" class="form-control" placeholder="Địa chỉ">
                    </div>

                    <div class="pt-3">
                        <select class="form-select" name="ls_province"></select>
                    </div>
                    <div class="pt-3">
                        <select class="form-select" name="ls_district"></select>
                    </div>
                    <div class="pt-3">
                        <select class="form-select" name="ls_ward"></select>
                    </div>

                    <div class="pt-3">
                        <input type="text" class="form-control" placeholder="Lời nhắn cho nhà hàng">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-white">
                <div class="rtab">
                    <i class="bi bi-credit-card-2-front-fill"><span class="rtab-lg-title"> Payment</span></i>
                    <span><img src="images/foods/food-4.png"></span>
                </div>

            </div>
        </div>
    </div>
</div>