<div class="profile-wrapper p-0">
  <main class="main">
    <div class="user-view">
      <nav class="user-view__menu">
        <ul class="side-nav">
          <li class="side-nav--active"><a href="#"><svg>
                <use xlink:href="img/icons.svg#icon-settings"></use>
              </svg>Thông tin tài khoản</a></li>
          <li><a href="/orders"><svg>
                <use xlink:href="img/icons.svg#icon-briefcase"></use>
              </svg>Đơn hàng của tôi</a></li>
          <li><a href="#"><svg>
                <use xlink:href="img/icons.svg#icon-star"></use>
              </svg>Cài đặt nâng cao</a></li>
        </ul>
        {{!-- <div class="admin-nav">
          <h5 class="admin-nav__heading">Admin</h5>
          <ul class="side-nav">
            <li><a href="#"><svg>
                  <use xlink:href="img/icons.svg#icon-map"></use>
                </svg>Manage tours</a></li>
            <li><a href="#"><svg>
                  <use xlink:href="img/icons.svg#icon-users"></use>
                </svg>Manage users</a></li>
            <li><a href="#"><svg>
                  <use xlink:href="img/icons.svg#icon-star"></use>
                </svg>Manage reviews</a></li>
            <li><a href="#"><svg>
                  <use xlink:href="img/icons.svg#icon-briefcase"></use>
                </svg></a></li>
          </ul>
        </div> --}}
      </nav>
      <div class="user-view__content">
        <div class="user-view__form-container p-0">
          <h2 class="heading-secondary ma-bt-md">Thông tin cá nhân của bạn</h2>
          <form class="form form-user-data">
            <div class="row">
              <div class="form__group col-6">
                <label class="form__label" for="restaurant-name">Tên quán</label>
                <input class="form__input" id="restaurant-name" type="text" value="{{user.name}}" required="required" />
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-email">Địa chỉ email</label>
                <input class="form__input" id="restaurant-email" type="email" value="{{user.email}}"
                  required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-owner">Người đại diện</label>
                <input class="form__input" id="restaurant-owner" type="text" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-district">Quận</label>
                <input class="form__input" id="restaurant-district" type="text" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-city">Thành Phố</label>
                <input class="form__input" id="restaurant-city" type="text" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-branch">Số chi nhánh</label>
                <input class="form__input" id="restaurant-branch" type="number" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-quantity">Số lượng đơn mỗi ngày</label>
                <input class="form__input" id="restaurant-quantity" type="number" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-type">Loại ẩm thực</label>
                <input class="form__input" id="restaurant-type" type="text" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-address">địa chỉ kinh doanh</label>
                <input class="form__input" id="restaurant-address" type="text" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="restaurant-phone">số điện thoại</label>
                <input class="form__input" id="restaurant-phone" type="text" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="bankName">Ngân hàng</label>
                <input class="form__input" id="bankName" type="text" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="bankBranch">Chi nhánh</label>
                <input class="form__input" id="bankBranch" type="text" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="seller-username">Tên đăng nhập</label>
                <input class="form__input" id="seller-username" type="text" required=" required">
              </div>
              <div class="form__group ma-bt-md col-6">
                <label class="form__label" for="seller-password">Mật khẩu</label>
                <input class="form__input" id="seller-password" type="password" required=" required">
              </div>
            </div>
            <div class="row">
              <div class="form__group ma-bt-md col-12">
                <label class="form__label" for="bankNumber">Số tài khoản ngân hàng</label>
                <input class="form__input" id="bankNumber" type="text" required=" required">
              </div>
            </div>
            <div class="form__group right"><button type="submit" class="btn btn--small btn--green">Đăng ký</button>
            </div>
          </form>
        </div>
        <div class="line">&nbsp;</div>
        {{!-- <div class="user-view__form-container">
          <h2 class="heading-secondary ma-bt-md">Thay đổi mật khẩu</h2>
          <form class="form form-user-settings">
            <div class="form__group"><label class="form__label" for="password-current">Mật khẩu hiện tại</label><input
                class="form__input" name="current-password" id="password-current" type="password" placeholder="••••••••"
                required="required" minlength="6" /></div>
            <div class="form__group"><label class="form__label" for="password">Mật khẩu mới</label><input
                class="form__input" id="password" type="password" placeholder="••••••••" required="required"
                minlength="6" name="password" /></div>
            <div class="form__group ma-bt-lg"><label class="form__label" for="password-confirm">Nhập lại mật khẩu
                mới</label><input name="confirm-password" class="form__input" id="password-confirm" type="password"
                placeholder="••••••••" required="required" minlength="6" /></div>
            <div class="form__group right"><button type="submit" class="btn btn--small btn--green">Cập nhật</button>
            </div>
          </form>
        </div> --}}
      </div>
    </div>
  </main>
</div>